<header>
    <div class="m__head_big_wrapper">
        <nav class="m__nav top-bar">
            <a href="#" class="close-panel">
                <i class="icon-remove-sign icon-large"></i>
            </a>
            <ul class="menu right desktop">
                <li>
                    <a href="#" class="hover hover-1">Mogelijkheden</a>
                </li>
                <li>
                    <a href="#">Passagiers</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Sponsoors</a>
                </li>
            </ul>
        </nav>
        <h1>Test</h1>
        <div id="m__scroll_down">
            <a href="#">
                <span></span>Scroll
            </a>
        </div>
    </div>
</header>